<html>
<head>
</head>
<body>
<br>
<div style="font-size: 50px;width: 100%;text-align: center;margin-bottom: 10px; text-shadow: 1px 1px 2px black, 0 0 1em red;">Run info</div>
<table style="border: 1px solid black; border-collapse: collapse; width: 100%;font-size: 15px" >
    <tr>
        <td style="border: 1px solid black; text-align:  center;"><h3>Run id</h3></td>
        <td style="border: 1px solid black; text-align:  center;"><h3>Time o2 start</h3></td>
        <td style="border: 1px solid black; text-align:  center;"><h3>Time o2 end</h3></td>
        <td style="border: 1px solid black; text-align:  center;"><h3>Time trg start</h3></td>
        <td style="border: 1px solid black; text-align:  center;"><h3>Time trg end</h3></td>
    </tr>
    <tr>
        <td style="border: 1px solid black"><%= run_id[0] %></td>
        <td style="border: 1px solid black"><%= time_o2_start[0] %></td>
        <td style="border: 1px solid black"><%= time_trg_start[0] %></td>
        <td style="border: 1px solid black"><%= time_o2_end[0] %></td>
        <td style="border: 1px solid black"><%= time_trg_end[0] %></td>
    </tr>
    <tr>
        <td style="border: 1px solid black"><%= run_id[1] %></td>
        <td style="border: 1px solid black"><%= time_o2_start[1] %></td>
        <td style="border: 1px solid black"><%= time_trg_start[1] %></td>
        <td style="border: 1px solid black"><%= time_o2_end[1] %></td>
        <td style="border: 1px solid black"><%= time_trg_end[1] %></td>
    </tr>
    <tr>
        <td style="border: 1px solid black"><%= run_id[2] %></td>
        <td style="border: 1px solid black"><%= time_o2_start[2] %></td>
        <td style="border: 1px solid black"><%= time_trg_start[2] %></td>
        <td style="border: 1px solid black"><%= time_o2_end[2] %></td>
        <td style="border: 1px solid black"><%= time_trg_end[2] %></td>
    </tr>
    <tr>
        <td style="border: 1px solid black"><%= run_id[3] %></td>
        <td style="border: 1px solid black"><%= time_o2_start[3] %></td>
        <td style="border: 1px solid black"><%= time_trg_start[3] %></td>
        <td style="border: 1px solid black"><%= time_o2_end[3] %></td>
        <td style="border: 1px solid black"><%= time_trg_end[3] %></td>
    </tr>
    <tr>
        <td style="border: 1px solid black"><%= run_id[4] %></td>
        <td style="border: 1px solid black"><%= time_o2_start[4] %></td>
        <td style="border: 1px solid black"><%= time_trg_start[4] %></td>
        <td style="border: 1px solid black"><%= time_o2_end[4] %></td>
        <td style="border: 1px solid black"><%= time_trg_end[4] %></td>
    </tr>
</table>
<p></p>
<br>
<hr>
<h3>Date: <%= date %></h3>
 <h3>Signature:</h3>
</body>
</html>
